.App {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 50% 40% 1fr;
  border: 3px solid black;
  grid-template-areas:
    'carusel'
    'stats'
    'b';
  width: 100%;
  height: 600px;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    display: grid;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

    grid-template-columns: 100%;
    grid-template-rows: 50% 40% 1fr;

    grid-template-areas:
      'carusel'
      'stats'
      'b';
    border: 3px solid black;
    max-width: 480px;

    height: 600px;
  }

  /* CSS для маленьких экранов телефонов */
}

@media (max-width: 600px) {
  /* CSS для телефонов, в том числе больших моделей */
}

@media (min-width: 601px) and (max-width: 900px) {
  .card {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      'carusel stats'
      'b b';
    height: 300px;
    width: 100%;
  }

  /* CSS для планшетов (портрет) */
}

@media (min-width: 901px) and (max-width: 1018px) {
  .card {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      'carusel stats'
      'b b';
    height: 300px;
    width: 100%;
  }

  /* CSS для планшетов (ландшафт) */
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .card {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      'carusel stats'
      'b b';
    height: 300px;
    width: 100%;
  }

  /* CSS для ноутбуков */
}

@media (min-width: 1441px) {
  .App {
    display: grid;
  }

  /* CSS для больших десктопов */
  .card {
    position: relative;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      'carusel stats'
      'b b';
    height: 300px;
    width: 1200px;
  }
}

.bronirovka {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid black;
  background-color: chartreuse;
}

.carusel {
  grid-area: carusel;
  justify-content: center;

  align-items: center;
  width: 100%;
  max-width: 266px;
}

.carusel img {
  display: block;
  width: 100%;
  height: auto;
}

.statsCard {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  grid-area: stats;
}

.navbar {
  position: fixed;

  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 1;
  background-color: #a7761c;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 1;
  background-color: #a7761c;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.navbarBtn {
  background-color: #805b17;
  /* Green */
  border: none;
  width: 100%;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h3 {
  display: flex;
  justify-content: center;
  /* Центр по горизонтали */
  align-items: center;
  /* Центр по вертикали */
}

.circleBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  /* Ширина полукруга */
  height: 60px;
  background-color: #a7761c;
  /* Цвет полукруга */
  border-bottom-right-radius: 55px 55px;
  /* Скругляем только правый нижний угол */
  z-index: 1;
  opacity: 0.7;
}

.box {
  position: fixed;

  border-radius: 50%;

  top: 25px;
  left: 25px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 18px;
  z-index: 9;
  cursor: pointer;
}

span {
  display: block;
  width: 100%;
  box-shadow: 0 1.5px 7px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 6px;
  background: #fff;
  transition: all 0.3s;
  position: relative;
}

span + span {
  margin-top: 10px;
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }

  50% {
    top: 16px;
    transform: rotate(0);
  }

  100% {
    top: 16px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 16px;
    transform: rotate(45deg);
  }

  50% {
    top: 16px;
    transform: rotate(0deg);
  }

  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }

  50% {
    bottom: 16px;
    transform: rotate(0);
  }

  100% {
    bottom: 16px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 16px;
    transform: rotate(135deg);
  }

  50% {
    bottom: 16px;
    transform: rotate16px;
  }

  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* работа с характеристиками */
.stats {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 20px 0; */
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #302f2f;
}

th {
}

tr:hover {
  background-color: #68ad57;
}

.buttonStats {
  width: 90%;
  background-color: #4caf50;
  /* Зелёный фон */
  color: white;
  /* Белый текст */
  padding: 15px 32px;
  /* Отступы по вертикали и горизонтали */
  text-align: center;
  /*Выравнивание текста по центру*/
  text-decoration: none;
  /* Убираем подчеркивание */
  display: inline-block;
  /* Позволяет добавлять отступы и размеры */
  font-size: 16px;
  /* Размер шрифта */
  margin: 4px 2px;
  /* Отступы вокруг кнопки */
  transition: background-color 0.3s, transform 0.3s;
  /* Плавный переход при наведении */
  border: none;
  /* Убираем границы */
  border-radius: 4px;
  /* Закругленные углы */
  cursor: pointer;
}
.tableStatsAll:hover {
  background-color: #4caf50;
}
.navbarBtn:hover {
  background-color: #4caf50;
}
