* {
  padding: 0px;
  margin: 0 auto;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color:  darkorange;
  /* background-image: url('https://wallpapers.com/images/hd/youtube-thumbnail-orange-bokeh-pliyj592y59o4nam.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}
